public/
_old/
resources/
node_modules/
# Local Netlify folder
.netlify
.vscode/
.hugo_build.lock

# Nix and direnv
.direnv/
result
result-*

# envrc
.envrc

# Temporary files for testing
.talks-content-only.txt
